version: '3'
services:
  multicraft:
    build: .
    ports:
      - "8080:80"
      - "2111:21"
      - "25565:25565"
    environment:
      - MC_FTP_PORT=21
      - MC_KEY="no"
      - MC_DAEMON_PW="ChangeMe"
    volumes:
      # - ./mc:/mc
      - multicraftData:/mc
volumes:
  multicraftData: {}
