<?php

return array(
    /// Database setttings for the control panel
    /// Contains users (name, email, pw) and control panel settings
    'panel_db' => 'sqlite:'.realpath(dirname(__FILE__).'/../data/').'/data.db',
    /*
    'panel_db' => 'mysql:host=localhost;dbname=multicraft_panel',
    'panel_db_user' => 'root',
    'panel_db_pass' => '',
    */
    /// Database settings for the daemon
    /// Contains all the server information and is shared between
    /// all the daemons.
    //
    'daemon_db' => 'sqlite:%%MC_DIR%%/data/data.db',
    /*
    'daemon_db' => 'mysql:host=localhost;dbname=multicraft_daemon',
    'daemon_db_user' => 'root',
    'daemon_db_pass' => 'testing',
    */
    // The daemon connection password, needs to match the password value in multicraf.conf
    'daemon_password' => '%%daemon_password%%',
    // The root superuser
    'superuser'=>'admin',
    // set this to true to enable the API
    'api_enabled'=>false,
    // set this to true to allow GET requests to the API
    'api_allow_get'=>false,
    // set this to true to allow users to generate their own API keys
    'user_api_keys'=>false,
    // the name of the administrator
    'admin_name'=>'God',
    // this is used in the support page
    'admin_email'=>'',
    // who can see servers listed in the serverlist: guest, user, superuser
    'show_serverlist'=>'user',
    // hide the userlist in the main menu and only list users
    // with roles and exact matches under "Manage Users" for regular users
    'hide_userlist'=>true,
    // disable the buil-in FTP client
    'ftp_client_disabled'=>false,
    //Use passive mode in FTP client
    'ftp_client_passive'=>false,
    // disable the template setup functionality
    'templates_disabled'=>false,
    // disable AJAX updates on pages like log/chat/serverview, etc.
    'ajax_updates_disabled'=>false,
    // the interval in ms for AJAX updates
    'ajax_update_interval' => 2000,
    // timeout for daemon communication in seconds
    'timeout' => 5,
    // The number of seconds to mark a daemon offline for after a connection error
    'mark_daemon_offline' => 10,
    // the theme, empty for default or the name of the folder in "themes/"
    'theme' => '',
    // the mobile theme, empty for the same as the normal theme
    'mobile_theme' => '',
    // allow users to select their panel theme
    'user_theme'=>false,
    // the language, empty for english or the name of the folder in "protected/messages/"
    'language' => '',
    // the maximum number of login attempts before blocking the login temporarily
    'login_tries' => 4,
    // the interval in which to count the login attempts and after which to unblock the login
    'login_interval' => 300,
    // use AJAX to refresh servers one by one after the list is loaded
    'ajax_serverlist' => false,
    // allow users to generate status banners for their server
    'status_banner' => true,
    // Send a welcome email when a new user is created
    'mail_welcome' => false,
    // Send a notification email when a server is assigned to a user
    'mail_assign' => false,
    // use an SQLite database to cache the database schema
    'sqlitecache_schema' => false,
    // use an SQLite database to cache daemon query results
    'sqlitecache_commands' => false,
    // Allow Users to Create a MySQL Database
    'user_mysql' => false,
    // User MySQL DB information
    'user_mysql_host' => '',
    'user_mysql_user' => '',
    'user_mysql_pass' => '',
    'user_mysql_prefix' => '',
    'user_mysql_admin' => '',
    // Allow Users to run the repair tool
    'show_repairtool' => false,
    // Disable User Registration
    'register_disabled' => true,
    // Reset Token Valid for (hours)
    'reset_token_hours' => 0,
    // Allow IP change for login sessions by default
    'default_ignore_ip' => false,
    // Default Display IP
    'default_display_ip'=>'',
    // Show assigned amount of server memory to user
    'show_memory'=>true,
    // Normally the console is displayed from top to bottom, this changes it to display from bottom to top
    'log_bottomup'=>true,
    // A comma separated list of IPs allowed to log in as a superuser, empty for any IP
    'admin_ips'=>'',
    // A comma separated list of IPs allowed to use the API, empty for any IP
    'api_ips'=>'',
    // Enable CSRF validation
    'enable_csrf_validation'=>true,
    // Enable cookie validation
    'enable_cookie_validation'=>true,
    // Enable online plugin list
    'use_pluginlist'=>false,
    // Automatically save server settings when changing JAR file
    'auto_jar_submit' => 'yes',
    // Password crypt function (sha512_crypt, sha256_crypt, md5_crypt, des_crypt)
    'pw_crypt'=>'sha512_crypt',
    // enable IP authentication
    'ip_auth' => true,
    // CPU Usage display (core, cpu)
    'cpu_display'=>'cpu',
    // RAM Usage display (percent, system_percent, mb, mb_capped)
    'ram_display'=>'percent',
    // Enable disk space limit setting (Linux only)
    'enable_disk_quota'=>false,
    // block certain characters in web chat
    'block_chat_characters' => true,
    // Log commands with username in the panel console
    'log_console_commands' => false,
    // who can see the delete all players button: superuser, none, user
    'show_delete_all_players' => 'superuser',
    // who can see the kill button: superuser, none, user
    'kill_button' => 'none',
    // If enabled the lowest possible unused port will be used for new servers
    'fill_port_gaps' => true,
    // If enabled the panel will allow communication with legacy (<2.0.0) daemons
    'support_legacy_daemons'=>false,
    // Settings for user creatable subdomains
    'user_subdomains'=>false,
    'user_subdomains_domain'=>'',
    'user_subdomains_cf_user'=>'',
    'user_subdomains_cf_api_key'=>'',
);
